{% extends 'accounts/accounts_base.html'%}
{% load crispy_forms_tags %}
{% crispy form  form.helper 'bootstrap3' %}

{% block main %}

<h3 align="center">
	用户登录
</h3>
<hr/>
{% crispy form  %}
<h4 align="center"><b style="color: red;">{{ error_messages }}</b></h4>
<script>
	var duoshuoQuery = {
       short_name: "privatemanager", 
       sso: { 
           login: "http://127.0.0.1:8000/accounts/ssologin/",//替换为你自己的回调地址
           logout: "http://127.0.0.1:8000/accounts/logout/"//替换为你自己的回调地址
       }};

    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>

{% endblock %}
