{% extends 'procedure_article/article_base.html '%}
{% load staticfiles %}
{% load duoshuo_tags %}
{% block main %}
<!--article  -->
<div class="panel panel-default">
	<div class="panel-heading">
		<header class="entry-header">
			<h2 class="panel-title"><a href="/2014/12/29/angularjs-14-2015/" title="{{ article.title }}" rel="bookmark" style="font-size: 24px; color: #337AB7"> {{ article.title }} </a>
			<hr style="margin: 5px 0 10px 0;">
			<p class="entry-info" style="font-size: 14px;">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>

				<a href="#" class="fn url nickname" rel="author" title="显示所有{{ article.author}}' 的评论">{{ article.author }}</a>
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				<time class="published" datetime="2014-12-29T10:03:45" pubdate="pubdate">
					{{ article.publishdate|date:"Y-m-d"}}
				</time>
				<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
				<a href="/procedure_article/articles/query/type/{{ article.type.id }}/" title="显示所有前端日志" style="padding-left: 4px;" rel="tag category">{{article.type}}</a>
			</p></h2>
		</header>
	</div>
	<div class="panel-body">
		<div class="entry-body">
			<div class="entry-content">
				{{article.content|safe}}
			</div>
		</div>

	</div>
	<div class="panel-footer">
		<p class="entry-tags">
			<span class="glyphicon glyphicon-tags"><strong>关键字 :</strong>{% for k in article.keyword.split %} <a href="/procedure_article/articles/query/keyword/{{ k}}/">{{ k }}</a> {% endfor %}</span>
		</p>
		<p class="entry-tags">
			<span class="glyphicon glyphicon-bookmark"><strong>缩略URL:</strong><a href="#" title="{{article.title}}" rel="shortlink"> http://privatemanager.com/ </a></span>
		</p>
	</div>
</div>
<div class="entry-prev-next">
	<ul class="pager">
		{% if article_next %}
		<li class="next">
			<a href="/procedure_article/articles/{{article_next.id}}/detail/" title="{{ article_next.title }}" rel="next"> {{ article_next.title }}→ </a>
		</li>
		{% endif %}
		{% if article_pre %}
		<li class="previous">
			<a href="/procedure_article/articles/{{article_pre.id}}/detail/" title="{{ article_pre.title }}" rel="prev"> ← {{ article_pre.title }} </a>
		</li>
		{% endif %}
	</ul>
</div>
<hr/>
{% duoshuo_comments %}

{% endblock %} 